.title-label, .custom-label {
  -fx-font-size:70px;
   -fx-alignment:center;
}

.custom-label {
   -fx-border-color:black;
   -fx-min-width:130px;
   -fx-min-height:130px;
   -fx-background-insets: .55px;
}
